node_modules
dist
.DS_Store
.env

demo/ftd_config.json

test.json

*.gen.ts

demo/src/Order/customerOrder/useCases/customerOrderUseCases.ts
demo/src/Order/orderLine/useCases/orderLineUseCases.ts
demo/src/User/profile/useCases/profileUseCases.ts
demo/src/Education/Course/useCases/courseUseCases.ts
demo/src/Education/Enrolment/useCases/enrolmentUseCases.ts
demo/src/Education/Student/useCases/studentUseCases.ts